
.b7{
    color: #fafafa;
}

.bc7{
    background-color: #D2B48C;
}

.b5{
    color: rgba(186, 163, 128, 1);
}

.bc5{
    background-color: rgba(186, 163, 128, 1);
}

.b1{
    color: rgba(243, 159, 47, 1);
}

.bc1{
    background-color: rgba(243, 159, 47, 1);
}

.b6{
    background-color: rgba(179, 105, 50, 1);
}

.bc6{
    background-color: rgba(179, 105, 50, 1);
}

.b8{
    color: #703d01;
}

.bc8{
    background-color: #fef5ea;
}

.b2{
    color: rgba(198, 109, 41, 1);
}

.bc2{
    background-color: rgba(198, 109, 41, 1);
}

.b3{
    color: rgba(136, 63, 28, 1);
}

.bc3{
    background-color: rgba(136, 63, 28, 1);
}

.b4{
    color: rgba(64, 72, 74, 1);
}

.bc4{
    background-color: rgba(64, 72, 74, 1);
}